@model BangladeshToday.Models.Videonews


@{
    ViewData["Title"] = "UploadFile";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<style type="text/css">

    .thumb-img {
        object-fit: cover;
        overflow: hidden;
        height: 20vw;
        width: 20vw;
    }
</style>

<h2>UploadFile</h2>

<div>
    <h4>Videonews</h4>
    <hr />
    @using (Html.BeginForm("UploadFile", "Videonews", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VideoNewsId)
            </dt>
            <dd>
                <div id="icode">@Html.DisplayFor(model => model.VideoNewsId)</div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Keyword)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Keyword)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Datetime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Datetime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Path)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Path)
            </dd>
        </dl>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Upload" />
    }
</div>


<div class="row">
    @foreach (var item in ViewBag.pictures)
    {
    <div class="col-lg-2 col-sm-2">
        @if (item.VideoPath == ViewBag.apath)
        {
        <video alt="@item.VideoPath" style="width:100%; height:130px" controls>
            <source src="~/Videos/@item.VideoPath" type="video/mp4">
            <source src="~/Videos/@item.VideoPath" type="video/ogg">
        </video>
            <br />
            <div class="label-primary act" style="text-align:center">Activated</div>
        }
        else
        {
            <video alt="@item.VideoPath" style="width:100%; height:130px" controls>
                <source src="~/Videos/@item.VideoPath" type="video/mp4">
                <source src="~/Videos/@item.VideoPath" type="video/ogg">
            </video>
            <br />
            <div class="act btn btn-success" style="text-align:center">Activate It</div>
        }

    </div>


    }

</div>
<hr />

Active Picture: @ViewData["apath"]
<script src="~/js/jquery-1.10.2.js"></script>
<script type="text/javascript">

    $(function () {
        $(".act").click(function () {
            id1 = $("#icode").text();
            // alert($(this).text());
            $(this).text('Activated');
            $(this).attr("class", "btn btn-primary act");
            // $(this).attr("cursor", "text");

            $('.act').not(this).html("Activate It").attr("class", 'act btn btn-success');//.attr("class","pointer");

            path = $(this).parent().children((':first-child')).attr("alt");
            qs = "id=" + id1 + "&path=" + path;
            alert("/Videonews/ActivatePicture?" + qs);
            $.ajax({
                type: "POST",
                url: "/Videonews/ActivatePicture?" + qs,
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    //$(this).content('Activated');

                    //$('.collapsiblock').not(this).each(function () {
                    //    $(this).slideUp();
                    //});
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });

    })


</script>


<div>
    @*<a asp-action="Edit" asp-route-id="@Model.VideoNewsId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
